*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  background-color: var(--bg-color);
  color: var(--txt-color);
}
a{
  color: unset;
  text-decoration: none;
}
.appWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
    